<br><br>
<!-- <div class="container"><h2>Nuestras Descoraciones:</h2><br></div> -->

<div class="container">
  <div class="row">
  
    <div class="col-sm-6">

<h3>Diseño De Interiores</h3>


<p ALIGN="justify">Tenemos los mejores servicios de interiorismo, diseño de interiores y asesoría en 
  decoración para que tu casa sea realmente tu casa.
  Además si decides vender tu propiedad te ayudamos en hacerla más atractiva 
  con nuestro servicio de Home Staging o Home Staging Virtual para generar más interés, 
  más visitas y más 
  ofertas haciendo que se venda más rápido y a un mejor precio.
</p><br>
<p ALIGN="justify">Tenemos los mejores servicios de interiorismo, diseño de interiores y asesoría en 
    decoración para que tu casa sea realmente tu casa.
    Además si decides vender tu propiedad te ayudamos en hacerla más atractiva 
    con nuestro servicio de Home Staging o Home Staging Virtual para generar más interés, 
    más visitas y más 
    ofertas haciendo que se venda más rápido y a un mejor precio.
  </p>
    </div>
   
    <div class="col-sm-6">

    
<img class="imgDecoracion" src="../../../assets/img/seccionDecoracion.jpg"  alt="">

    </div>
  </div>
</div>
