<br><br>
<!-- <div class="container"><h2>Nuestras Descoraciones:</h2><br></div> -->

<div class="container">
  <div class="row">
  
    <div class="col-sm-6">

        <img class="imgDecoracion" src="../../../assets/img/Asesoría.jpg"  alt="">

    </div>
   
    <div class="col-sm-6">

        <h3>Asesoría en decoración</h3>


        <p ALIGN="justify">Si tienes preguntas, o si necesitas consejos para decorar o amueblar tu hogar,
           puedes aprovechar de nuestro servicio de asesoría en interiorismo, 
          asesoría en diseño de interiores y asesoría en decoración de interiores.
            Te visitamos a tu domicilio, o te acompañamos a tiendas para que puedas comprar y 
            escoger lo que realmente necesitas y se adapte a tu personalidad.
        </p><br>
        <p ALIGN="justify">Si tienes preguntas, o si necesitas consejos para decorar o amueblar tu hogar, 
          puedes aprovechar de nuestro servicio de asesoría en interiorismo, 
          asesoría en diseño de interiores y asesoría en decoración de interiores.
          Te visitamos a tu domicilio, o te acompañamos a tiendas para que puedas comprar y escoger lo que realmente 
          necesitas y 
          se adapte a tu personalidad.
          </p>

    </div>
  </div>
</div>
